nodered/flows.json
[{"id":"bab94ddf.590a1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d221b02.120e94","type":"tab","label":"Device Service API Endpoint","disabled":false,"info":""},{"id":"29005ab.13e13a6","type":"tab","label":"Device Service Bootstrap","disabled":false,"info":""},{"id":"aa51558c.1ca898","type":"subflow","name":"Lora-app-server Bootstrap","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2f1c2b05.52af04"}]}],"out":[{"x":1640,"y":500,"wires":[{"id":"e7d7dce5.d05a7","port":0}]}],"env":[{"name":"JWT_TOKEN","type":"str","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJsb3JhLWFwcC1zZXJ2ZXIiLCJhdWQiOiJsb3JhLWFwcC1zZXJ2ZXIiLCJuYmYiOjE0ODk1NjY5NTgsImV4cCI6MTYxNDc2NDgwMCwic3ViIjoidXNlciIsInVzZXJuYW1lIjoiYWRtaW4ifQ.Wmuh6cUALWsqUPsKiNPNQBvjGbW7zBCxUKeWc_22GrI"},{"name":"URL","type":"str","value":"192.168.1.66:8080"},{"name":"NETSKEY","type":"str","value":"2B7E151628AED2A6ABF7158809CF4F3C"},{"name":"APPSKEY","type":"str","value":"2B7E151628AED2A6ABF7158809CF4F3C"},{"name":"DEVADDR","type":"str","value":"09984507"},{"name":"GATEWAY_ID","type":"str","value":"1dee070daa25c124"}],"status":{"x":320,"y":60,"wires":[]}},{"id":"214f6067.c855d","type":"subflow","name":"Lora-app-server Bootstrap (2)","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e6972652.79b9d8"}]}],"out":[{"x":1640,"y":500,"wires":[{"id":"4ae0a899.c5d3a8","port":0}]}],"env":[{"name":"JWT_TOKEN","type":"str","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJsb3JhLWFwcC1zZXJ2ZXIiLCJhdWQiOiJsb3JhLWFwcC1zZXJ2ZXIiLCJuYmYiOjE0ODk1NjY5NTgsImV4cCI6MTYxNDc2NDgwMCwic3ViIjoidXNlciIsInVzZXJuYW1lIjoiYWRtaW4ifQ.Wmuh6cUALWsqUPsKiNPNQBvjGbW7zBCxUKeWc_22GrI"},{"name":"URL","type":"str","value":"http://127.0.0.1:8080"},{"name":"NETSKEY","type":"str","value":"2B7E151628AED2A6ABF7158809CF4F3C"},{"name":"APPSKEY","type":"str","value":"2B7E151628AED2A6ABF7158809CF4F3C"},{"name":"DEVADDR","type":"str","value":"09984507"},{"name":"GATEWAY_ID","type":"str","value":"1dee070daa25c124"},{"name":"LORANK_IP","type":"env","value":"LORANK_IP"}]},{"id":"97a99b06.ddb4f8","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_application","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":320,"y":420,"wires":[["88a18b00.dfc5d8","7ee98232.6ab45c"]]},{"id":"b8def2ee.37667","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_service_profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":150,"y":320,"wires":[["7ee98232.6ab45c","1791e4d6.fb984b"]]},{"id":"3fcb25a.139b8da","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_network_server","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1120,"y":240,"wires":[["e02d8b69.deb9a8","1f04582e.6f7bb8"]]},{"id":"e626ecba.23bc4","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_gateway","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1275,"y":319,"wires":[["7ee98232.6ab45c","43302b18.c0a994"]]},{"id":"1983c1f9.9a57ce","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create-HTTP-integration","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1100,"y":500,"wires":[["e7d7dce5.d05a7","7ee98232.6ab45c"]]},{"id":"4d711366.5b12cc","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create-gateway-profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":760,"y":320,"wires":[["1e52f816.076db8","7ee98232.6ab45c"]]},{"id":"e02d8b69.deb9a8","type":"debug","z":"aa51558c.1ca898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":140,"wires":[]},{"id":"2f1c2b05.52af04","type":"function","z":"aa51558c.1ca898","name":"set_organization","func":"let lora_registration = global.get(\"lora_registration\") || 0;\nif (lora_registration === true){\n    return null;\n}\n\nlet create_organisation = {\n  \"organization\": {\n    \"canHaveGateways\": true,\n    \"displayName\": \"default\",\n    \"id\": \"1\",\n    \"name\": \"default_organisation\"\n  }\n}\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/organizations\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nmsg.payload = create_organisation;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["7b065558.b6604c","b05f7e9f.47e0d"]]},{"id":"43302b18.c0a994","type":"function","z":"aa51558c.1ca898","name":"set_application","func":"flow.set(\"gateway_id\",msg.payload.id);\n\nlet org_id = flow.get(\"organisation_id\");\nlet serv_id = flow.get(\"service_profile_id\");\n\nlet create_application = {\n  \"application\": {\n    \"description\": \"generic_lora_application\",\n    \"id\": \"1\",\n    \"name\": \"default_application\",\n    \"organizationID\": org_id,\n    \"serviceProfileID\": serv_id\n  }\n}\nmsg.payload = create_application;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/applications\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":80,"y":420,"wires":[["97a99b06.ddb4f8"]]},{"id":"2655fc95.cd3f14","type":"function","z":"aa51558c.1ca898","name":"set_network_server","func":"// let dns = global.get(\"dns\")\n// dns.lookup('lorank8.local', function(err, result) {\n// result = result;\n// })\nlet ip = \"192.168.1.64\" + \":8000\";\nflow.set(\"organisation_id\", msg.payload.id);\n\n\nlet create_network_server = {\n  \"networkServer\": {\n    \"gatewayDiscoveryDR\": 0,\n    \"gatewayDiscoveryEnabled\": true,\n    \"gatewayDiscoveryInterval\": 60,\n    \"gatewayDiscoveryTXFrequency\": 0,\n    \"id\": \"1\",\n    \"name\": \"sibling_network_server\",\n    \"server\": ip\n  }\n}\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/network-servers\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nmsg.payload = create_network_server;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["3fcb25a.139b8da","81caa30e.30197"]]},{"id":"f14b7128.6bdcc","type":"function","z":"aa51558c.1ca898","name":"set_http_integration","func":"let app_id = flow.get(\"application_id\");\n\nbase = \"192.168.1.79\"\nlet create_http_integration = {\n  \"integration\": {\n    \"applicationID\": app_id,\n    \"headers\": [],\n    \"uplinkDataURL\": \"http://\" + base + \":1880/lora-uplink\"\n  }\n}\nmsg.payload = create_http_integration;\n\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/applications/\" + app_id + \"/integrations/http\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":753,"y":509,"wires":[["1983c1f9.9a57ce"]]},{"id":"7b065558.b6604c","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_organisation","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":439,"y":241,"wires":[["2655fc95.cd3f14","b05f7e9f.47e0d"]]},{"id":"dc555eac.542a6","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_device-profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":850,"y":420,"wires":[["62cab791.c76898","7ee98232.6ab45c"]]},{"id":"760aa5a3.3df0ec","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_device","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1350,"y":420,"wires":[["e0c58e56.575b4","7ee98232.6ab45c"]]},{"id":"62cab791.c76898","type":"function","z":"aa51558c.1ca898","name":"set_device","func":"flow.set(\"device_profile_id\",msg.payload.id);\nlet app_id = flow.get(\"application_id\");\n\nlet create_device = {\n  \"device\": {\n    \"applicationID\": app_id,\n    \"description\": \"default device of contract buyer\",\n    \"devEUI\": \"0102030405060708\",\n    \"deviceProfileID\": msg.payload.id,\n    \"name\": \"default_device\",\n    \"referenceAltitude\": 0,\n    \"skipFCntCheck\": true,\n    \"tags\": {},\n    \"variables\": {}\n  }\n}\nmsg.payload = create_device;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/devices\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":420,"wires":[["760aa5a3.3df0ec"]]},{"id":"1e52f816.076db8","type":"function","z":"aa51558c.1ca898","name":"set_gateway","func":"flow.set(\"gateway_profile_id\",msg.payload.id)\nlet net_id = flow.get(\"network_server_id\");\nlet org_id = flow.get(\"organisation_id\");\nlet gate_id = env.get(\"GATEWAY_ID\");\n\nlet create_gateway = {\n  \"gateway\": {\n    \"boards\":  [],\n    \"description\": \"sibling gateway\",\n    \"discoveryEnabled\": true,\n    \"gatewayProfileID\": msg.payload.id,\n    \"id\": gate_id,\n    \"location\": {\n      \"accuracy\": 0,\n      \"altitude\": 0,\n      \"latitude\": 0,\n      \"longitude\": 0,\n      \"source\": \"UNKNOWN\"\n    },\n    \"name\": \"default_gateway\",\n    \"networkServerID\": net_id,\n    \"organizationID\": org_id\n  }\n}\nmsg.payload = create_gateway;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/gateways\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["e626ecba.23bc4"]]},{"id":"1791e4d6.fb984b","type":"function","z":"aa51558c.1ca898","name":"set_gateway_profile","func":"flow.set(\"service_profile_id\",msg.payload.id)\nlet net_id = flow.get(\"network_server_id\");\n\nlet create_gateway_profile = {\n  \"gatewayProfile\": {\n    \"channels\": [1,2,3,4,5,6,7,8,9,10,11,12,13],\n    \"extraChannels\": [\n      {\n        \"bandwidth\": 0,\n        \"bitrate\": 0,\n        \"frequency\": 0,\n        \"modulation\": \"LORA\",\n        \"spreadingFactors\": [\n          0\n        ]\n      }\n    ],\n    \"id\": \"1\",\n    \"name\": \"default_gateway_profile\",\n    \"networkServerID\": net_id\n  }\n}\nmsg.payload = create_gateway_profile;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/gateway-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["4d711366.5b12cc"]]},{"id":"1f04582e.6f7bb8","type":"function","z":"aa51558c.1ca898","name":"set_service_profile","func":"\nflow.set(\"network_server_id\", msg.payload.id);\nlet org_id = flow.get(\"organisation_id\");\n\n\nlet create_service_profile = {\n  \"serviceProfile\": {\n    \"addGWMetaData\": true,\n    \"devStatusReqFreq\": 0,\n    \"dlBucketSize\": 0,\n    \"dlRate\": 0,\n    \"dlRatePolicy\": \"DROP\",\n    \"drMax\": 0,\n    \"drMin\": 0,\n    \"hrAllowed\": true,\n    \"id\": \"1\",\n    \"minGWDiversity\": 0,\n    \"name\": \"default_service_profile\",\n    \"networkServerID\": msg.payload.id,\n    \"nwkGeoLoc\": true,\n    \"organizationID\": org_id,\n    \"prAllowed\": true,\n    \"raAllowed\": true,\n    \"reportDevStatusBattery\": true,\n    \"reportDevStatusMargin\": true,\n    \"targetPER\": 0,\n    \"ulBucketSize\": 0,\n    \"ulRate\": 0,\n    \"ulRatePolicy\": \"DROP\"\n  }\n}\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/service-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nmsg.payload = create_service_profile;\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":240,"wires":[["b8def2ee.37667"]]},{"id":"88a18b00.dfc5d8","type":"function","z":"aa51558c.1ca898","name":"set_device_profile","func":"flow.set(\"application_id\",msg.payload.id)\nlet net_server_id = flow.get(\"network_server_id\");\nlet org_id = flow.get(\"organisation_id\");\n\nlet create_device_profile = {\n  \"deviceProfile\": {\n    \"classBTimeout\": 0,\n    \"classCTimeout\": 0,\n    \"factoryPresetFreqs\": [\n      0\n    ],\n    \"id\": \"1\",\n    \"macVersion\": \"1.0.2\",\n    \"maxDutyCycle\": 0,\n    \"maxEIRP\": 0,\n    \"name\": \"defualt_lora_device\",\n    \"networkServerID\": net_server_id,\n    \"organizationID\": org_id,\n    \"regParamsRevision\": \"A\",\n    \"pingSlotDR\": 0,\n    \"pingSlotFreq\": 0,\n    \"pingSlotPeriod\": 0,\n    \"rxDROffset1\": 0,\n    \"rxDataRate2\": 0,\n    \"rxDelay1\": 0,\n    \"rxFreq2\": 0,\n    \"supports32BitFCnt\": true,\n    \"supportsClassB\": false,\n    \"supportsClassC\": false,\n    \"supportsJoin\": false\n  }\n}\nmsg.payload = create_device_profile;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/device-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":418,"wires":[["dc555eac.542a6"]]},{"id":"37636d42.5687c2","type":"http request","z":"aa51558c.1ca898","name":"lora-app-server_create_device","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":453,"y":508,"wires":[["f14b7128.6bdcc","7ee98232.6ab45c"]]},{"id":"e0c58e56.575b4","type":"function","z":"aa51558c.1ca898","name":"set_device_activation","func":"let netskey = env.get(\"NETSKEY\");\nlet appskey = env.get(\"APPSKEY\");\nlet devaddr = env.get(\"DEVADDR\");\nlet device_activation = {\n  \"deviceActivation\": {\n    \"aFCntDown\": 0,\n    \"appSKey\": appskey,\n    \"devAddr\": devaddr,\n    \"devEUI\": \"0102030405060708\",\n    \"fCntUp\": 0,\n    \"nFCntDown\": 0,\n\"nwkSEncKey\":netskey,\n\"sNwkSIntKey\": netskey,\n\"fNwkSIntKey\":netskey\n  }\n}\nmsg.payload = device_activation;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/devices/0102030405060708/activate\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":105,"y":507,"wires":[["37636d42.5687c2"]]},{"id":"e7d7dce5.d05a7","type":"function","z":"aa51558c.1ca898","name":"lora_registration_complete","func":"global.set(\"lora_regisration\", true);\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":500,"wires":[[]]},{"id":"81caa30e.30197","type":"debug","z":"aa51558c.1ca898","name":"network_server_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":100,"wires":[]},{"id":"7ee98232.6ab45c","type":"debug","z":"aa51558c.1ca898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":660,"wires":[]},{"id":"b05f7e9f.47e0d","type":"debug","z":"aa51558c.1ca898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":140,"wires":[]},{"id":"afc1ecc3.3f2c4","type":"debug","z":"aa51558c.1ca898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":140,"wires":[]},{"id":"81ed593d.659ba8","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_application","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":320,"y":420,"wires":[["63a60547.1fee6c","bf6ed87b.383b08"]]},{"id":"12ec887a.6d68d8","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_service_profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":150,"y":320,"wires":[["dbdbeb81.ef3fa8"]]},{"id":"4cf457c0.9eaa98","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_network_server","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1120,"y":240,"wires":[["1b3c448f.6f67ab","bf6ed87b.383b08"]]},{"id":"8b0b69aa.9c2778","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_gateway","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1275,"y":319,"wires":[["e37b8240.25731"]]},{"id":"abe654d8.862bc8","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create-HTTP-integration","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1100,"y":500,"wires":[["4ae0a899.c5d3a8"]]},{"id":"4dafc49.6ac7c3c","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create-gateway-profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":760,"y":320,"wires":[["87a2d0f8.bfd8a","bf6ed87b.383b08"]]},{"id":"35e2fb36.862574","type":"http request","z":"29005ab.13e13a6","name":"Edgex-register_device_service","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1270,"y":560,"wires":[["7d54aa20.1bcb14"]]},{"id":"4ef36f00.47eeb","type":"http request","z":"29005ab.13e13a6","name":"Edgex-create_device_profile","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":720,"y":560,"wires":[["b5228b7f.3047c8"]]},{"id":"c7a4f8.ab519b08","type":"file in","z":"29005ab.13e13a6","name":"device-service-configuration.yaml","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":180,"y":560,"wires":[["73eb2318.df12ec"]]},{"id":"1d2da0a7.156dbf","type":"subflow:214f6067.c855d","z":"29005ab.13e13a6","name":"","env":[{"name":"URL","type":"str","value":"http://lora-appserver:8080"}],"x":1540,"y":720,"wires":[[]]},{"id":"b5269751.e41548","type":"http request","z":"29005ab.13e13a6","name":"Edgex-create_device_service","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":140,"y":720,"wires":[["67f9e9fd.a78cd8"]]},{"id":"fbc516a7.a125d8","type":"http in","z":"6d221b02.120e94","name":"EdgeX-health_check","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["2da94613.6d20ca"]]},{"id":"19b3c2af.87145d","type":"http in","z":"6d221b02.120e94","name":"","url":"device/:device_id/:command_name","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["dfae7149.c9ff4"]]},{"id":"6570810e.a6d7f","type":"http in","z":"6d221b02.120e94","name":"EdgeX-metadata POST","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["1009184d.f9ca18"]]},{"id":"9f099bc7.f6c298","type":"http response","z":"6d221b02.120e94","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1290,"y":160,"wires":[]},{"id":"e09fa235.ecec2","type":"http response","z":"6d221b02.120e94","name":"","statusCode":"","headers":{},"x":710,"y":300,"wires":[]},{"id":"8f9e51e0.81117","type":"http in","z":"6d221b02.120e94","name":"Lora-uplink","url":"/lora-uplink","method":"post","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["e9239be9.e066c8"]]},{"id":"925901fb.1f321","type":"http request","z":"6d221b02.120e94","name":"EdgeX-data-log","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":840,"y":420,"wires":[["1a5a1047.88b4a"]]},{"id":"e9239be9.e066c8","type":"function","z":"6d221b02.120e94","name":"PUT latest reading to context && schematic-transform","func":"let now = Date.now();\nlet uplink = msg.payload;\nlet d_name = global.get(\"device_name\") || \"id-459543-lora_device\";\nlet device_eui = uplink.devEUI;\nlet rx_info = uplink.rxInfo[0];\nlet reading_id = uplink.deviceName + \":\" + now.toString();\nlet tx_info = uplink.txInfo;\n\nlet buf = Buffer.from(uplink.data, 'base64');\nlet data = buf.toString();\n\nlet other_info = [uplink.adr, uplink.fCnt, uplink.fPort];\n\nlet edgex_device_id = global.get(\"device_id\") || \"test\";\nlet value_string = JSON.stringify({\n            \"rx_info\":rx_info,\n            \"tx_info\":tx_info, \n            \"data\":data, \n            \"other_info\":other_info\n            });\n\nlet reading = {\n    \"device\": d_name,\n    \"created\": now,\n    \"origin\":now,\n    \"event\":\"reading\",\n    \"readings\":[\n        {\n        \"origin\":now,\n        \"name\": \"lora-device-data\",\n        \"value\": value_string\n        }\n    ]\n};\nflow.set(\"last_reading\", reading);\nmsg.statusCode = 200;\nmsg.payload = reading;\nmsg.url = global.get(\"core-data_url\") + \"event\";\n// catch(error){\n//     msg.payload = error;\n//     msg.statusCode = 500;\n// }\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["925901fb.1f321"]]},{"id":"dfae7149.c9ff4","type":"function","z":"6d221b02.120e94","name":"GET latest reading from context ","func":"if (msg.req.params.command_name == \"last_reading\" && msg.req.params.device_id == global.get(\"device_id\")){\n\n    try{\n        var reading = flow.get(\"last_reading\")\n        msg.statusCode = 200;\n    }\n    catch(error){\n        reading = null;\n        msg.statusCode = 500;\n    }\n    msg.payload = {\"lora-device-data\":reading};\n    return [msg, null];\n}\n\nelse{\n    msg.statusCode = 404;\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"x":710,"y":160,"wires":[["9f099bc7.f6c298"],[]]},{"id":"1009184d.f9ca18","type":"function","z":"6d221b02.120e94","name":"","func":"action = msg.payload.actionType;\n\nif(flow.error_exists){\n    msg.statusCode = 400;\n}\nelse if(action == \"DEVICE\"){\n    global.set(\"device_id\", msg.payload.id);\n    msg.statusCode = 200;\n}\nelse if (action == \"PROFILE\"){\n    global.set(\"profile_id\", msg.payload.id);\n    msg.statusCode = 200;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["e09fa235.ecec2"]]},{"id":"e6972652.79b9d8","type":"function","z":"214f6067.c855d","name":"set_organization","func":"let lora_registration = global.get(\"lora_regisration\") || 0;\nif (lora_registration === true){\n    return null;\n}\n\nlet create_organisation = {\n  \"organization\": {\n    \"canHaveGateways\": true,\n    \"displayName\": \"default\",\n    \"id\": \"1\",\n    \"name\": \"default_organisation\"\n  }\n}\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/organizations\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nmsg.payload = create_organisation;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["ced015f6.01ac88","bf6ed87b.383b08"]]},{"id":"940f3ac5.8ef018","type":"function","z":"29005ab.13e13a6","name":"set_upload_profile","func":"// msg.headers = {\n//     \"content-type\" : 'multipart/form-data'\n//     };\n// let databuffer = msg.payload;\n// let file = flow.get(\"device_profile_filename\");\nmsg.url = flow.get(\"core-metadata_url\") + \"deviceprofile/upload\";\n\n// msg.payload = {\n//     \"KEY\": {\n//         \"value\": databuffer,\n//         \"options\": {\n//             \"filename\": file\n//         }\n//     }\n// }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":620,"wires":[["4ef36f00.47eeb"]]},{"id":"7d54aa20.1bcb14","type":"change","z":"29005ab.13e13a6","name":"create_device_service","rules":[{"t":"set","p":"payload","pt":"msg","to":"register_device_service","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"$join(\t    [\t    $flowContext('core-metadata_url'),\"deviceservice\"\t    ]\t)\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":620,"wires":[["b5269751.e41548"]]},{"id":"59b09b62.7d4d74","type":"http response","z":"6d221b02.120e94","name":"returns the DS’s version string; indicates that the service is available","statusCode":"200","headers":{"content-type":"application/json"},"x":950,"y":80,"wires":[]},{"id":"2da94613.6d20ca","type":"change","z":"6d221b02.120e94","name":"Version String","rules":[{"t":"set","p":"payload","pt":"msg","to":"nodered-device-service_v0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["59b09b62.7d4d74"]]},{"id":"35500883.5e8fd8","type":"http in","z":"6d221b02.120e94","name":"EdgeX-metadata PUT","url":"/callback","method":"put","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["1009184d.f9ca18"]]},{"id":"a0d5f170.b8913","type":"change","z":"29005ab.13e13a6","name":"service_addressable","rules":[{"t":"set","p":"payload","pt":"msg","to":"device_service_addressable","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"$join(\t    [\t    $flowContext('core-metadata_url'),\"addressable\"\t    ]\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":440,"wires":[["39ab9759.229ce8"]]},{"id":"39ab9759.229ce8","type":"http request","z":"29005ab.13e13a6","name":"Create Addressable","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":440,"wires":[["29e86ef0.4a9682"]]},{"id":"67f9e9fd.a78cd8","type":"function","z":"29005ab.13e13a6","name":"set_device_service_id","func":"if (msg.payload.statusCode == 200){\n    global.set(\"device_service_id\", msg.payload);\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":720,"wires":[["60c8fd4e.39eda4"]]},{"id":"29e86ef0.4a9682","type":"change","z":"29005ab.13e13a6","name":"value_descriptor","rules":[{"t":"set","p":"payload","pt":"msg","to":"value_descriptor","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"$join(\t   [\t       $globalContext('core-data_url'),\t       \"valuedescriptor\"\t    \t   ]\t\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":440,"wires":[["bdf155e8.03fa88"]]},{"id":"bdf155e8.03fa88","type":"http request","z":"29005ab.13e13a6","name":"Create Value Descriptor","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1070,"y":440,"wires":[["7707dbc6.c64df4"]]},{"id":"7707dbc6.c64df4","type":"function","z":"29005ab.13e13a6","name":"set_device_id, filename","func":"msg.filename = \"/data/\"+flow.get(\"device_service_profile_filename\");\nnode.log(msg.filename);\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":440,"wires":[["c7a4f8.ab519b08"]]},{"id":"b1021ef8.38e94","type":"http request","z":"29005ab.13e13a6","name":"Edgex-provision_device","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":890,"y":720,"wires":[["f448bf47.7a3ba"]]},{"id":"60c8fd4e.39eda4","type":"change","z":"29005ab.13e13a6","name":"provision_device","rules":[{"t":"set","p":"payload","pt":"msg","to":"provision_device","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"$join(\t    [\t    $flowContext('core-metadata_url'),\"device\"\t    ]\t)\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":720,"wires":[["b1021ef8.38e94"]]},{"id":"37372bce.c409e4","type":"function","z":"29005ab.13e13a6","name":"Create BODY messages","func":"// Create all the body messages for the edgex post requests\nlet edgex_registration = global.get(\"edgex_registration\") || false;\nif (edgex_registration === true){\n    return [null, msg];\n}\n\nglobal.set(\"core-data_url\",\"http://edgex-core-data:48080/api/v1/\" );\nflow.set(\"core-metadata_url\",\"http://edgex-core-metadata:48081/api/v1/\" );\nflow.set(\"registry_url\", \"http://edgex-core-consul:8500/v1/agent/service/register\" );\n\n\nlet device_service_addressable = {\n    \"name\": \"id:459543-lora-device_service\",\n    \"protocol\": \"HTTP\",\n    \"address\": \"nodered-device-service\", // container-name\n    \"port\": 1880,\n    \"path\": \"/\",\n    \"publisher\": \"id:584234\",\n    \"user\": \"none\",\n    \"password\": \"none\",\n    \"topic\": \"none\"\n};\n\nlet value_descriptor = {\n    \"name\": \"lora-device-data\",\n    \"description\": \"general info from the device\",\n    \"min\": \"0\",\n    \"max\": \"100\",\n    \"type\": \"J\",\n    \"uomLabel\": \"general\",\n    \"defaultValue\": \"0\",\n    \"formatting\": \"%s\",\n    \"labels\": [\n        \"general_info\"\n    ]\n};\n\nlet register_device_service = {\n    \"name\": \"id:459543-lora-device_service\",\n    \"description\": \"service requested by id:584234, validated by contract id:324325\",\n    \"labels\": [\"lora\", \"insurance_contract\"],\n    \"adminState\": \"unlocked\",\n    \"operatingState\": \"enabled\",\n    \"addressable\": {\n        \"name\": \"id:459543-lora-device_service\"\n    }\n    \n};\nlet device_name = \"id:459543-lora_device\"\n\nlet provision_device = {\n    \"name\": device_name,\n    \"description\": \"device used by \\\"id:459543-lora-device_service\\\"\",\n    \"adminState\": \"unlocked\",\n    \"operatingState\": \"enabled\",\n    \"protocols\": {\n        \"default\": {\n            \"host\": \"nodered-device-service\",\n            \"port\": \"1880\",\n            \"unitID\": \"1\"\n        }\n    },\n    \"labels\": [\"lora\"],\n    \"location\": \"\",\n    \"service\": {\n        \"name\": \"id:459543-lora-device_service\"\n    },\n    \"profile\": {\n        \"name\": \"id459543-lora-device_service_profile2\"\n    }\n}\nflow.set(\"device_service_profile_filename\",\"generic_lora_device_profile.yaml\")\nflow.set(\"device_service_addressable\", device_service_addressable);\nflow.set(\"value_descriptor\",value_descriptor);\nflow.set(\"register_device_service\", register_device_service);\nflow.set(\"provision_device\", provision_device);\nglobal.set(\"device_name\",device_name);\n\nreturn [msg, null];\n","outputs":2,"noerr":0,"x":330,"y":360,"wires":[["a0d5f170.b8913"],["1d2da0a7.156dbf"]]},{"id":"f448bf47.7a3ba","type":"function","z":"29005ab.13e13a6","name":"edgex_registration_complete","func":"if (msg.statusCode == 200){\n    global.set(\"device_id\", msg.payload);\n    global.set(\"edgex_registration\", true);\n    \n}\n\nmsg.device_id = global.get(\"device_id\");\nmsg.edgex_reg = global.get(\"edgex_registration\");\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":720,"wires":[["984f5de4.64656","a7a995bf.979b18"]]},{"id":"e37b8240.25731","type":"function","z":"214f6067.c855d","name":"set_application","func":"if (msg.statusCode == 200){\n    flow.set(\"gateway_id\",msg.payload.id);\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet org_id = flow.get(\"organisation_id\");\nlet serv_id = flow.get(\"service_profile_id\");\n\nlet create_application = {\n  \"application\": {\n    \"description\": \"generic_lora_application\",\n    \"id\": \"1\",\n    \"name\": \"default_application\",\n    \"organizationID\": org_id,\n    \"serviceProfileID\": serv_id\n  }\n}\nmsg.payload = create_application;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/applications\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":80,"y":420,"wires":[["81ed593d.659ba8"]]},{"id":"1afd9a1c.825bd6","type":"function","z":"214f6067.c855d","name":"set_network_server","func":"if (msg.statusCode == 200){\n    flow.set(\"organisation_id\", msg.payload.id);\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\n\nlet ip = env.get(\"LORANK_IP\").toString() + \":8000\";\nlet create_network_server = {\n  \"networkServer\": {\n    \"gatewayDiscoveryDR\": 0,\n    \"gatewayDiscoveryEnabled\": true,\n    \"gatewayDiscoveryInterval\": 60,\n    \"gatewayDiscoveryTXFrequency\": 0,\n    \"name\": \"sibling_network_server\",\n    \"server\": ip\n  }\n};\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/network-servers\";\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n};\n\nmsg.payload = create_network_server;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["4cf457c0.9eaa98"]]},{"id":"2ec5abaf.58d8b4","type":"function","z":"214f6067.c855d","name":"set_http_integration","func":"if (msg.statusCode == 200){\n    let activation = null;\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet app_id = flow.get(\"application_id\");\nbase = \"nodered-device-service\";\nlet create_http_integration = {\n  \"integration\": {\n    \"applicationID\": app_id,\n    \"headers\": [],\n    \"uplinkDataURL\": \"http://\" + base + \":1880/lora-uplink\"\n  }\n}\nmsg.payload = create_http_integration;\n\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/applications/\" + app_id + \"/integrations/http\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":753,"y":509,"wires":[["abe654d8.862bc8"]]},{"id":"ced015f6.01ac88","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_organisation","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":439,"y":241,"wires":[["1afd9a1c.825bd6","bf6ed87b.383b08"]]},{"id":"7d28e53a.fd2dcc","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_device-profile","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":850,"y":420,"wires":[["9c9cbb0d.b75478"]]},{"id":"671dabaa.62e754","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_device","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1350,"y":420,"wires":[["b34a7ad4.395c48","bf6ed87b.383b08"]]},{"id":"9c9cbb0d.b75478","type":"function","z":"214f6067.c855d","name":"set_device","func":"if (msg.statusCode == 200){\n    flow.set(\"device_profile_id\",msg.payload.id);\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\n\nlet app_id = flow.get(\"application_id\");\nlet create_device = {\n  \"device\": {\n    \"applicationID\": app_id,\n    \"description\": \"default device of contract buyer\",\n    \"devEUI\": \"0102030405060708\",\n    \"deviceProfileID\": msg.payload.id,\n    \"name\": \"default_device\",\n    \"referenceAltitude\": 0,\n    \"skipFCntCheck\": true,\n    \"tags\": {},\n    \"variables\": {}\n  }\n}\nmsg.payload = create_device;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/devices\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":420,"wires":[["671dabaa.62e754"]]},{"id":"87a2d0f8.bfd8a","type":"function","z":"214f6067.c855d","name":"set_gateway","func":"if (msg.statusCode == 200){\n    flow.set(\"gateway_profile_id\",msg.payload.id)\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet net_id = flow.get(\"network_server_id\");\nlet org_id = flow.get(\"organisation_id\");\nlet gate_id = env.get(\"GATEWAY_ID\");\n\nlet create_gateway = {\n  \"gateway\": {\n    \"boards\":  [],\n    \"description\": \"sibling gateway\",\n    \"discoveryEnabled\": true,\n    \"gatewayProfileID\": msg.payload.id,\n    \"id\": gate_id,\n    \"location\": {\n      \"accuracy\": 0,\n      \"altitude\": 0,\n      \"latitude\": 0,\n      \"longitude\": 0,\n      \"source\": \"UNKNOWN\"\n    },\n    \"name\": \"default_gateway\",\n    \"networkServerID\": net_id,\n    \"organizationID\": org_id\n  }\n}\nmsg.payload = create_gateway;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/gateways\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["8b0b69aa.9c2778"]]},{"id":"dbdbeb81.ef3fa8","type":"function","z":"214f6067.c855d","name":"set_gateway_profile","func":"if (msg.statusCode == 200){\n    flow.set(\"service_profile_id\",msg.payload.id);\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet net_id = flow.get(\"network_server_id\");\nlet create_gateway_profile = {\n  \"gatewayProfile\": {\n    \"channels\": [1,2,3,4,5,6,7,8,9,10,11,12,13],\n    \"extraChannels\": [\n      {\n        \"bandwidth\": 0,\n        \"bitrate\": 0,\n        \"frequency\": 0,\n        \"modulation\": \"LORA\",\n        \"spreadingFactors\": [\n          0\n        ]\n      }\n    ],\n    \"id\": \"1\",\n    \"name\": \"default_gateway_profile\",\n    \"networkServerID\": net_id\n  }\n}\nmsg.payload = create_gateway_profile;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/gateway-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["4dafc49.6ac7c3c"]]},{"id":"1b3c448f.6f67ab","type":"function","z":"214f6067.c855d","name":"set_service_profile","func":"if (msg.statusCode == 200){\n    flow.set(\"network_server_id\", msg.payload.id);\n}\n\nlet org_id = flow.get(\"organisation_id\");\nlet create_service_profile = {\n  \"serviceProfile\": {\n    \"addGWMetaData\": true,\n    \"devStatusReqFreq\": 0,\n    \"dlBucketSize\": 0,\n    \"dlRate\": 0,\n    \"dlRatePolicy\": \"DROP\",\n    \"drMax\": 0,\n    \"drMin\": 0,\n    \"hrAllowed\": true,\n    \"id\": \"1\",\n    \"minGWDiversity\": 0,\n    \"name\": \"default_service_profile\",\n    \"networkServerID\": msg.payload.id,\n    \"nwkGeoLoc\": true,\n    \"organizationID\": org_id,\n    \"prAllowed\": true,\n    \"raAllowed\": true,\n    \"reportDevStatusBattery\": true,\n    \"reportDevStatusMargin\": true,\n    \"targetPER\": 0,\n    \"ulBucketSize\": 0,\n    \"ulRate\": 0,\n    \"ulRatePolicy\": \"DROP\"\n  }\n}\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/service-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nmsg.payload = create_service_profile;\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":240,"wires":[["12ec887a.6d68d8"]]},{"id":"63a60547.1fee6c","type":"function","z":"214f6067.c855d","name":"set_device_profile","func":"if (msg.statusCode == 200){\n    flow.set(\"application_id\",msg.payload.id);\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet net_server_id = flow.get(\"network_server_id\");\nlet org_id = flow.get(\"organisation_id\");\nlet create_device_profile = {\n  \"deviceProfile\": {\n    \"classBTimeout\": 0,\n    \"classCTimeout\": 0,\n    \"factoryPresetFreqs\": [\n      0\n    ],\n    \"id\": \"1\",\n    \"macVersion\": \"1.0.2\",\n    \"maxDutyCycle\": 0,\n    \"maxEIRP\": 0,\n    \"name\": \"defualt_lora_device\",\n    \"networkServerID\": net_server_id,\n    \"organizationID\": org_id,\n    \"regParamsRevision\": \"A\",\n    \"pingSlotDR\": 0,\n    \"pingSlotFreq\": 0,\n    \"pingSlotPeriod\": 0,\n    \"rxDROffset1\": 0,\n    \"rxDataRate2\": 0,\n    \"rxDelay1\": 0,\n    \"rxFreq2\": 0,\n    \"supports32BitFCnt\": true,\n    \"supportsClassB\": false,\n    \"supportsClassC\": false,\n    \"supportsJoin\": false\n  }\n}\nmsg.payload = create_device_profile;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/device-profiles\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":418,"wires":[["7d28e53a.fd2dcc"]]},{"id":"b91a4183.475df","type":"http request","z":"214f6067.c855d","name":"lora-app-server_create_device","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":453,"y":508,"wires":[["2ec5abaf.58d8b4"]]},{"id":"b34a7ad4.395c48","type":"function","z":"214f6067.c855d","name":"set_device_activation","func":"if (msg.statusCode == 200){\n    flow.set(\"lora_device_id\");\n}\nelse if (msg.statusCode != 409) {\n    node.error(\"Request from node: \" + node.name + \" failed\");\n    return null;\n}\nlet netskey = env.get(\"NETSKEY\");\nlet appskey = env.get(\"APPSKEY\");\nlet devaddr = env.get(\"DEVADDR\");\nlet device_activation = {\n  \"deviceActivation\": {\n    \"aFCntDown\": 0,\n    \"appSKey\": appskey,\n    \"devAddr\": devaddr,\n    \"devEUI\": \"0102030405060708\",\n    \"fCntUp\": 0,\n    \"nFCntDown\": 0,\n\"nwkSEncKey\":netskey,\n\"sNwkSIntKey\": netskey,\n\"fNwkSIntKey\":netskey\n  }\n}\nmsg.payload = device_activation;\nlet token = env.get(\"JWT_TOKEN\");\nmsg.url = env.get(\"URL\") + \"/api/devices/0102030405060708/activate\"\nmsg.headers = {\n    Authorization: \"Bearer \" + token\n}\nreturn msg;","outputs":1,"noerr":0,"x":105,"y":507,"wires":[["b91a4183.475df"]]},{"id":"b5228b7f.3047c8","type":"function","z":"29005ab.13e13a6","name":"set_consul_registry","func":"let registry = {\n  \"ID\": \"lora_device_service\",\n  \"Name\": \"lora_device_service\",\n  \"Tags\": [\n    \"primary\",\n    \"v1\"\n  ],\n  \"Address\": \"127.0.0.1\",\n  \"Port\": 1880,\n  \"Meta\": {\n    \"version\": \"0.1\"\n  },\n  \"EnableTagOverride\": false,\n  \"Check\": {\n    \"DeregisterCriticalServiceAfter\": \"90m\",\n    \"HTTP\": \"http://127.0.0.1:1880/ping\",\n    \"Interval\": \"30s\",\n  },\n  \"Weights\": {\n    \"Passing\": 10,\n    \"Warning\": 1\n  }\n}\nmsg.payload = registry;\nmsg.url = flow.get(\"registry_url\");\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":560,"wires":[["35e2fb36.862574"]]},{"id":"4ae0a899.c5d3a8","type":"function","z":"214f6067.c855d","name":"lora_registration_complete","func":"if (msg.statusCode != 200){\n    node.error(\"Request from node: \" + node.name + \"failed\");\n    return null;\n}\nglobal.set(\"lora_regisration\", true);\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":500,"wires":[[]]},{"id":"73eb2318.df12ec","type":"yaml","z":"29005ab.13e13a6","property":"payload","name":"","x":417.5,"y":560,"wires":[["940f3ac5.8ef018"]]},{"id":"1a5a1047.88b4a","type":"http response","z":"6d221b02.120e94","name":"","statusCode":"","headers":{},"x":1010,"y":420,"wires":[]},{"id":"984f5de4.64656","type":"delay","z":"29005ab.13e13a6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":800,"wires":[["1d2da0a7.156dbf"]]},{"id":"bf6ed87b.383b08","type":"debug","z":"214f6067.c855d","name":"","active":true,"tosidebar":false,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":960,"y":80,"wires":[]},{"id":"38e6ca40.55d166","type":"http response","z":"29005ab.13e13a6","name":"","statusCode":"200","headers":{},"x":430,"y":240,"wires":[]},{"id":"7b9c63f8.acc87c","type":"http in","z":"29005ab.13e13a6","name":"","url":"/start","method":"post","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["37372bce.c409e4","38e6ca40.55d166"]]},{"id":"a7a995bf.979b18","type":"debug","z":"29005ab.13e13a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1500,"y":640,"wires":[]}]